#title2 {
   font-family: 'Architects Daughter' important!;
   font-size: "24 rem";
   background-color: "#f4f5f7";
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  }