@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Homemade+Apple&family=Permanent+Marker&family=Rock+Salt&family=Shadows+Into+Light&display=swap");

.App {
  text-align: center;
}

#Login{
  position: absolute;
  margin-left: 20%;
  margin: 0px;
  padding: 0;
}

#Register
{
  position: absolute;
  margin-left: 120px;
  margin-top: 20px;
}

h2 {
  text-align: "center";
  font-family: "Architects Daughter";
  margin-left: 0px;
}

body {
  width: 100%;
  font-family: "Architects Daughter", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Rock Salt", cursive;
  font-family: "Satisfy", cursive;
  font-family: "Shadows Into Light", cursive;
  width: 100%;
  background-color: #f7fffe;
  background-image: url("https://www.transparenttextures.com/patterns/light-sketch.png");
}

h1 {
  font-family: "Shadows Into Light", cursive;
}

#title2 {
  text-shadow: #000 0px 0px 9px;
  position: absolute;
  color: rgb(245, 246, 247);
}

#Title1 {
  color: rgb(249, 255, 250);
  font-family: "Permanent Marker", cursive;
  font-size: 8rem;
  color: rgb(247, 247, 240);
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-left: 15rem;
  padding-top: 1rem;
}

#banner {
  background-image: url("./Assets/stones-167089_1920.jpg");
  width: 100vw;
  max-width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 20%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#banner2 {
  background-image: url("./Assets/dandelion-445228_1920.jpg");
  width: 100vw;
  max-width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 20%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}
