div.jumbotron{
  background-image: url("https://images.unsplash.com/photo-1511448598600-c01f02a2ee95?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") !important;
  width: 100vw;
  max-width: 100%;
  height: 125px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 44%;
  background-color: none;
  ;
} 

#container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}